* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Dhurjati', sans-serif;
	font-size: 1.5rem;
	line-height: 1;
	color: yellow;
	background-color: #000;
}

.o-flexbox {
	display: flex;
}

.c-sidebar {
	width: 20%;
	padding: 2em;
	border-right: 1px solid lightgray;
}

.c-sidebar__heading1 {
	margin-bottom: 1rem;
}

.c-sidebar__heading2 {
	font-weight: normal;
}

.c-sidebar__text {
	margin-bottom: 1rem;
}

.c-sidebar__control-label {
	width: 5em;
	display: inline-block;
}

.c-game-container {
	height: 100%;
	width: 100%;
	background: radial-gradient(ellipse at center,  #7d7e7d 10%,#0e0e0e 90%);
	padding: 2em;
}

.c-game-root {
	width: 100%;
	height: 100%;
}

.u-flex-column {
	flex-direction: column;
}

.u-justify-between {
	justify-content: space-between;
}

.u-unstyled-list {
	list-style-type: none;
}

.u-center {
	text-align: center;
}